<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/song.css' %}">
</head>
<body>
    <div class="container">
        <div class="table-container">
            <h2>Songs List</h2>
            
            {% if messages %}
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            
            <!-- <a href="{% url 'song_form' %}" class="button primary-button">Create New Song</a> -->
            <a href="{% url 'dashboard' %}" class="button primary-button">Back to Dashboard</a>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Release Date</th>
                        <th>Duration</th>
                        <th>Production</th>
                        <th>Artists</th>
                        <th>Genres</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in songs %}
                        <tr>
                            <td>{{ song.title }}</td>
                            <td>{{ song.released_date|date:"Y-m-d" }}</td>
                            <td>{{ song.duration }}</td>
                            <td>{{ song.production.name }}</td>
                            <td>
                                {% for artist in song.artists.all %}
                                    {{ artist.first_name }} {{ artist.last_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for genre in song.genres.all %}
                                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="actions">
                                <a href="{% url 'edit_song' song.id %}" class="button primary-button">Edit</a>
                                <a href="{% url 'delete_song' song.id %}" class="button danger-button">Delete</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7">No songs available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html> 